<!doctype html>
<html>
<head>
	<title>Allie's Page</title>
</head>
<body>
<h2>Current Weather</h2>
    <form method="POST">
      <fieldset>
        <legend>Location</legend>
        <label for="city">City Name</label>
        <input type="text" name="city" id="city"><br>
        OR<br>
        <label for="zip">ZIP Code</label>
        <input type="number" name="zip" id="zip">        
        <input type="submit" name="submit">
      </fieldset>
    </form>
    <br>
    <br>
   
</body>
</html>